---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Works from '../components/Works.astro';
import WhatIDoBest from '../components/WhatIDoBest.astro';
import Testimonial from '../components/Testimonial.astro';
import Brand from '../components/Brand.astro';
import Achievement from '../components/Achievement.astro';
import FAQ from '../components/FAQ.astro';
import Blogs from '../components/Blogs.astro';
import Footer from '../components/Footer.astro';
import GlobalCart from '../components/GlobalCart.astro';
---

<Layout title="Harrison - Portfolio website template">
  <div class="page-wrapper">
    <Navigation />
    <div class="main-wrapper">
      <Hero />
      <Works />
      <WhatIDoBest />
      <Testimonial />
      <Brand />
      <Achievement />
      <FAQ />
      <Blogs />
      <GlobalCart />
    </div>
    <Footer />
  </div>
</Layout>
