---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import Works from "../components/Works.astro";
import Blogs from "../components/Blogs.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Abhinand - Portfolio">
  <div class="page-wrapper">
    <Navigation />
    <div class="main-wrapper">
      <Hero />
      <AboutMe />
      <Works />
      <Blogs />
    </div>
    <Footer />
  </div>
</Layout>
