---

---

<div class="achievement-section">
  <div class="section-spacing">
    <div class="container">
      <div class="section-heading">
        <div class="section-title-wrap">
          <h2 class="section-title">Achievement Numbers</h2>
        </div>
      </div><div class="achievement-layout">
        <div
          id="w-node-b8d4e17d-479a-25b7-3300-44e29cf814a1-ace96bd8"
          class="achievement-col"
        >
          <div class="achievement-item _1">
            <div class="counter-number-wrap">
              <div class="upper-movement">
                <div class="upper-movement-inner">
                  <h2 class="counter-item-number">0</h2><h2
                    class="counter-item-number"
                  >
                    1
                  </h2><h2 class="counter-item-number">3</h2><h2
                    class="counter-item-number"
                  >
                    5
                  </h2><h2 class="counter-item-number">0</h2>
                </div>
              </div><div class="middle-movement">
                <div class="middle-movement-inner">
                  <h2 class="counter-item-number">8</h2><h2
                    class="counter-item-number"
                  >
                    6
                  </h2><h2 class="counter-item-number">4</h2><h2
                    class="counter-item-number"
                  >
                    2
                  </h2><h2 class="counter-item-number">0</h2>
                </div>
              </div><h2 class="counter-item-num-symbol">+</h2>
            </div><div class="achievement-item-text-wrap">
              <p class="achievement-item-text">Years Experience</p>
            </div><div class="achievement-right-con"></div>
          </div>
        </div><div class="achievement-col">
          <div class="achievement-item _2">
            <div class="counter-number-wrap">
              <div class="upper-movement">
                <div class="upper-movement-inner">
                  <h2 class="counter-item-number">0</h2><h2
                    class="counter-item-number"
                  >
                    1
                  </h2><h2 class="counter-item-number">3</h2><h2
                    class="counter-item-number"
                  >
                    4
                  </h2><h2 class="counter-item-number">5</h2>
                </div>
              </div><div class="middle-movement">
                <div class="middle-movement-inner">
                  <h2 class="counter-item-number">9</h2><h2
                    class="counter-item-number"
                  >
                    8
                  </h2><h2 class="counter-item-number">7</h2><h2
                    class="counter-item-number"
                  >
                    5
                  </h2><h2 class="counter-item-number">3</h2>
                </div>
              </div><h2 class="counter-item-num-symbol">+</h2>
            </div><div class="achievement-item-text-wrap">
              <p class="achievement-item-text">Projects Completed</p>
            </div><div class="achievement-right-con _2"></div>
          </div>
        </div><div class="achievement-col">
          <div class="achievement-item _3">
            <div class="counter-number-wrap">
              <div class="upper-movement">
                <div class="upper-movement-inner">
                  <h2 class="counter-item-number">0</h2><h2
                    class="counter-item-number"
                  >
                    8
                  </h2><h2 class="counter-item-number">6</h2><h2
                    class="counter-item-number"
                  >
                    4
                  </h2><h2 class="counter-item-number">2</h2>
                </div>
              </div><div class="middle-movement">
                <div class="middle-movement-inner">
                  <h2 class="counter-item-number">5</h2><h2
                    class="counter-item-number"
                  >
                    3
                  </h2><h2 class="counter-item-number">2</h2><h2
                    class="counter-item-number"
                  >
                    1
                  </h2><h2 class="counter-item-number">0</h2>
                </div>
              </div>
            </div><div class="achievement-item-text-wrap">
              <p class="achievement-item-text">Industries Served</p>
            </div><div class="achievement-right-con _3"></div>
          </div>
        </div><div class="achievement-col">
          <div class="achievement-item _4">
            <div class="counter-number-wrap">
              <div class="upper-movement">
                <div class="upper-movement-inner">
                  <h2 class="counter-item-number">0</h2><h2
                    class="counter-item-number"
                  >
                    9
                  </h2><h2 class="counter-item-number">8</h2><h2
                    class="counter-item-number"
                  >
                    4
                  </h2><h2 class="counter-item-number">2</h2>
                </div>
              </div><h2 class="counter-item-num-symbol">K+</h2>
            </div><div class="achievement-item-text-wrap">
              <p class="achievement-item-text">Happy Clients</p>
            </div><div class="achievement-right-con _4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
