---

---

<div class="faq-section" id="faq">
  <div class="section-spacing">
    <div class="container">
      <div class="section-heading">
        <div class="section-title-wrap">
          <h2 class="section-title">Frequently Asked Question</h2>
        </div>
      </div><div class="faq-layout">
        <div class="faq-item-wrapper">
          <div
            data-w-id="aad4e33e-73c5-72de-1a89-e7a8cfbac170"
            class="faq-item"
          >
            <div class="faq-title-wrap">
              <h2 class="faq-title">
                What information do you need to get started?
              </h2><div class="faq-icon">
                <div class="faq-icon-plus"></div><div class="faq-icon-minus">
                </div>
              </div>
            </div><div class="faq-text-wrap">
              <p class="faq-text">
                To begin, I’ll need a clear understanding of your goals, target
                audience, brand guidelines (if available), and any specific
                features or design preferences you have in mind. I’ll guide you
                through the details during our initial consultation.
              </p>
            </div>
          </div><div
            data-w-id="aad4e33e-73c5-72de-1a89-e7a8cfbac17a"
            class="faq-item"
          >
            <div class="faq-title-wrap">
              <h2 class="faq-title">
                What do you charge for your services?
              </h2><div class="faq-icon">
                <div class="faq-icon-plus"></div><div class="faq-icon-minus">
                </div>
              </div>
            </div><div class="faq-text-wrap">
              <p class="faq-text">
                To begin, I’ll need a clear understanding of your goals, target
                audience, brand guidelines (if available), and any specific
                features or design preferences you have in mind. I’ll guide you
                through the details during our initial consultation.
              </p>
            </div>
          </div><div
            data-w-id="aad4e33e-73c5-72de-1a89-e7a8cfbac184"
            class="faq-item"
          >
            <div class="faq-title-wrap">
              <h2 class="faq-title">
                Can you work within our brand guidelines?
              </h2><div class="faq-icon">
                <div class="faq-icon-plus"></div><div class="faq-icon-minus">
                </div>
              </div>
            </div><div class="faq-text-wrap">
              <p class="faq-text">
                To begin, I’ll need a clear understanding of your goals, target
                audience, brand guidelines (if available), and any specific
                features or design preferences you have in mind. I’ll guide you
                through the details during our initial consultation.
              </p>
            </div>
          </div><div
            data-w-id="aad4e33e-73c5-72de-1a89-e7a8cfbac18e"
            class="faq-item"
          >
            <div class="faq-title-wrap">
              <h2 class="faq-title">
                Do you offer ongoing support after project completion?
              </h2><div class="faq-icon">
                <div class="faq-icon-plus"></div><div class="faq-icon-minus">
                </div>
              </div>
            </div><div class="faq-text-wrap">
              <p class="faq-text">
                To begin, I’ll need a clear understanding of your goals, target
                audience, brand guidelines (if available), and any specific
                features or design preferences you have in mind. I’ll guide you
                through the details during our initial consultation.
              </p>
            </div>
          </div><div
            data-w-id="aad4e33e-73c5-72de-1a89-e7a8cfbac198"
            class="faq-item"
          >
            <div class="faq-title-wrap">
              <h2 class="faq-title">How do we get started?</h2><div
                class="faq-icon"
              >
                <div class="faq-icon-plus"></div><div class="faq-icon-minus">
                </div>
              </div>
            </div><div class="faq-text-wrap">
              <p class="faq-text">
                To begin, I’ll need a clear understanding of your goals, target
                audience, brand guidelines (if available), and any specific
                features or design preferences you have in mind. I’ll guide you
                through the details during our initial consultation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
