---

---

<nav class="w-full flex justify-center sticky top-0 bg-white z-50 px-5 py-6">
  <div class="max-w-screen-xl mx-auto w-full flex justify-between items-center">
    <!-- Logo -->
    <a href="/" class="flex items-center" aria-current="page">
      <img
        src="https://cdn.prod.website-files.com/686964cfa204c3a3ace96bce/686d182361817ae1b39b9925_logo.svg"
        alt="logo"
        class="h-8"
      />
    </a>

    <!-- Nav Links -->
    <div
      class="hidden md:flex items-center space-x-8 text-gray-700 font-medium text-lg"
    >
      <a href="/" class="hover:text-black transition-colors" aria-current="page"
        >Home</a
      >
      <a href="/projects" class="hover:text-black transition-colors">Projects</a
      >
      <a href="/services" class="hover:text-black transition-colors">Services</a
      >
      <a href="/about" class="hover:text-black transition-colors">About</a>
      <a href="/blogs" class="hover:text-black transition-colors">Blog</a>
      <a href="/shop" class="hover:text-black transition-colors">Shop</a>
    </div>

    <!-- Mobile Nav Icon -->
    <div class="md:hidden flex flex-col space-y-1.5 cursor-pointer">
      <div class="w-7 h-0.5 bg-black rounded"></div>
      <div class="w-7 h-0.5 bg-black rounded"></div>
      <div class="w-7 h-0.5 bg-black rounded"></div>
    </div>
  </div>
</nav>
